@import './variables'
@import './helpers'
@import './mixins'

.page-content
  #nav-box
    height: 60px
    line-height: 60px
    border-bottom: 1px solid $color-grey
    background-color: white
    z-index: 999
    &.fixed
      fixed: top 158px left
      width: 100%
      background: white
    .nav
      width: 1200px
      margin: 0 auto
      .active
        background: $color-green
      a
        color: $color-black
        &:hover
          text-decoration: none
  .content-container
    padding-top: 60px
    .item-title
      width 100%
      box-sizing border-box
      text-align center
      .text
        width 240px
        margin 0 auto
        padding 45px 0 15px 0
        font-size 30px
        font-weight 500
        color #282828
        border-bottom 3px solid #a0a0a0
      .line
        width 100%
        border-bottom 1px solid #e5e5e5
      .e-text
        margin-top 12px
        color #a0a0a0
        font-size 24px
      &.unique
        .text
          color #fff
          border-bottom 3px solid #fff
        .line
          border-bottom 1px solid #fff
        .e-text
          color #fff
    .product-introduction
      position relative
      .product-content
        width 75%
        margin 70px auto 0
        .top-labels
          display flex
          justify-content space-between
          max-width 1080px
          margin 0 auto
          .label-item
            width 200px
            height 35px
            text-align center
            line-height 35px
            color #fff
            font-size 18px
            background #65cecf
        .center-info
          margin 45px auto 0
          max-width 1080px
          .info-text
            line-height 1.8em
            text-align left
            text-indent 2em
            font-size 20px
            font-weight 400
            color #505050
            .large
              font-size 24px
              color #1f9899
        .bottom-logos
          display flex
          margin-top 40px
          padding 0 50px
          .logo-item
            flex 1
            text-align center
            .logo
              margin-bottom 26px
            .desc
              .title
                font-size 18px
                color #282828
                line-height 32px
              .text
                font-size 14px
                color #1f9899
                line-height 20px
      .bg-img-wrap
        position absolute
        top 0
        left 0
        width 100%
        z-index -1
        img
          width 100%
          height 800px
    .system-feature
      position relative
      margin-top 20px
      .bg-img-wrap
        width 100%
        img
          width 100%
          height 900px
      .system-title
        position absolute
        top 40px
        left 0
        width 100%
      .system-content
        position absolute
        top 180px
        left 0
        width 100%
        .content-wrap
          display flex
          width 1128px
          margin 60px auto 0
          justify-content space-between
          .order-item
            width 200px
            height 440px
            text-align center
            background-color rgba(255, 255, 255, .8)
            .icon-wrap
              padding 30px 0 25px 0
              .icon
                display inline-block
                width 70px
                height 70px
                background-size 70px 70px
                background-repeat no-repeat
                &.icon-auto
                  background url('../imgs/product-page/icon_auto.png')
                &.icon-thunder
                  background url('../imgs/product-page/icon_thunder.png')
                &.icon-light
                  background url('../imgs/product-page/icon_light.png')
                &.icon-num
                  background url('../imgs/product-page/icon_num.png')
                &.icon-low
                  background url('../imgs/product-page/icon_low.png')
            .item-title
              .title-text
                line-height 1.5em
                color #282828
                font-size 22px
            .item-content
              margin-top 16px
              .content-text
                width 80%
                margin 0 auto
                line-height 1.8em
                font-size 16px
                color #353434
                text-align left
    .bussiness-mode
      position relative
      top -3px
      width 100%
      .bg-img-wrap
        width 100%
        img
          width 100%
          height 830px
      .bussiness-title
        position absolute
        left 0
        top 0
      .content-img-wrap
        position absolute
        left 50%
        top 190px
        width 1117px
        height 500px
        margin-left -560px
    .third-party-interface
      position relative
      width 100%
      margin-top -90px
      margin-bottom 120px
      .bg-img
        width 100%
        img
          width 100%
      .inter-face-content
        position absolute
        left 0
        top 0
        width 100%
        .img-wrap
          width 50%
          margin 15px auto 0
          img
            width 100%
    .mobile-terminal
      width 100%
      .mobile-terminal-wrap
        width 100%
        position relative
        .bg-img
          width 100%
          img
            width 100%
        .mobile-title
          position absolute
          left 0
          top 0
        .support-function-box
          position absolute
          left 0
          bottom 0
          width 100%
          height 190px
          background rgba(40, 40, 40, .7)
          .support-item-wrap
            display flex
            width 60%
            margin 0 auto
            .support-item
              flex 1
              padding-top 60px
              box-sizing border-box
              text-align center
              .icon
                display inline-block
                width 50px
                height 50px
                background-size 50px 50px
                background-repeat no-repeat
                &.android
                  background url('../imgs/product-page/icon_android.png')
                &.ios
                  background url('../imgs/product-page/icon_ios.png')
                &.wap
                  background url('../imgs/product-page/icon_wap.png')
                &.wechat
                  background url('../imgs/product-page/icon_wechat.png')
              .name
                margin-top 10px
                font-size 16px
                color #fff
      .site-safe
        img
          width 100%
          height 100%
      .site-introduction
        margin 100px auto 0
        .introduction-wrap
          display flex
          justify-content space-between
          width 60%
          max-width 1100px
          margin 0 auto
          @media (min-width:992px)
            width 100%
          @media (min-width:1200px)
            width 80%
          .introduction-item
            img
              width 100%
