icomoon-font-path ?= "../fonts"

icon-address-book = "\e924"
icon-clock = "\e904"
icon-authen-center = "\e900"
icon-bankcard = "\e901"
icon-card = "\e902"
icon-check = "\e903"
icon-credit = "\e905"
icon-cross = "\e906"
icon-cross_1 = "\e907"
icon-customer-service = "\e908"
icon-diplomas = "\e909"
icon-exclamation-point = "\e90a"
icon-exclamation-point-1 = "\e90b"
icon-eye-hide = "\e90c"
icon-eye-show = "\e90d"
icon-get-rmb = "\e90e"
icon-help-book = "\e90f"
icon-identity = "\e910"
icon-invitation = "\e911"
icon-jingdong = "\e912"
icon-list = "\e913"
icon-list-1 = "\e914"
icon-lock = "\e915"
icon-lock-1 = "\e916"
icon-lock-2 = "\e917"
icon-mobile = "\e918"
icon-mobile-book = "\e919"
icon-msg-center = "\e91a"
icon-msg-center-red-path1 = "\e91b"
icon-msg-center-red-path2 = "\e91c"
icon-msg-verification = "\e91d"
icon-not-check = "\e91e"
icon-notification = "\e91f"
icon-qq = "\e920"
icon-que-mark = "\e921"
icon-que-mark-1 = "\e922"
icon-return = "\e923"
icon-sesame = "\e926"
icon-taobao = "\e927"
icon-up-arrow = "\e928"
icon-voucher-path1 = "\e929"
icon-voucher-path2 = "\e92a"
icon-wechat = "\e92b"
icon-wechat-pub = "\e92c"
icon-credit-bill = "\e92d"
icon-logo-credit-bill = "\e92e"
icon-logo-net-bank-path1 = "\e92f"
icon-logo-net-bank-path2 = "\e930"
icon-logo-net-bank-path3 = "\e931"
icon-net-bank = "\e932"
icon-rmb = "\e925"

