/* 颜色定义 */

/* 主基调 */
$color-blue = #2391fb
$color-blue-light = rgba(200, 227, 254, .9)
$color-blue-lightter = #40d3fe
$color-blue-lightest = #bddffc
$color-grey = #dcdcdc
$color-grey-higher = #adadad
$color-grey-higher1 = #e5e5e5
$color-red = rgb(253, 76, 177)
$color-red-lighter = #fc7f7f
$color-red-shadow = rgba(155, 39, 39, .32)
$color-yellow = #f39800
$color-white-light = #f5f5f5
$color-white = #fff
$color-white-high = #f8f8f8
$color-black = #282828
  
/* 文字信息 */
$color-text-grey = #bdbcbc
$color-text-grey-higher = #adadad
$color-text-grey-highest = #8c8b8b
$color-text-blue = #2391fb
$color-text-blue-lightter = #40d3fe
$color-text-black = #282828
$color-text-white = #fff
$color-text-white-high = #f8f8f8
$color-text-error = #f39800
$color-text-yellow = #f39800
$color-text-red = #f8695e
$color-text-green = #36b241
$color-text-green-higher = #50baa6
$color-text-warn = #fafd05