icomoon-font-path ?= "../fonts"

icon-doubt = "\e905"
icon-camera = "\e900"
icon-cash-logo = "\e91a"
icon-consume-logo = "\e928"
icon-id-card = "\e927"
icon-msg = "\e919"
icon-lock = "\e91b"
icon-book = "\e91c"
icon-invitation = "\e91d"
icon-auth = "\e91e"
icon-light = "\e91f"
icon-not-checked-path1 = "\e920"
icon-not-checked-path2 = "\e921"
icon-checked = "\e922"
icon-about-us = "\e923"
icon-success = "\e924"
icon-shop-tel = "\e925"
icon-shop-address = "\e926"
icon-box-checked = "\e913"
icon-box-unchecked = "\e914"
icon-cross = "\e915"
icon-eye-hide = "\e916"
icon-eye-show = "\e917"
icon-logo = "\e918"
icon-arrow-left = "\e901"
icon-arrow-right = "\e902"
icon-auth-center = "\e903"
icon-home = "\e904"
icon-loan = "\e907"
icon-location-mark = "\e908"
icon-message = "\e909"
icon-message-red-path1 = "\e90a"
icon-message-red-path2 = "\e90b"
icon-message-red-path3 = "\e90c"
icon-my-self = "\e90d"
icon-refund = "\e90e"
icon-serch-glass = "\e90f"
icon-settings = "\e910"
icon-shop = "\e911"
icon-shopping-cart = "\e912"
